<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
		  type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		  requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
			 type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings configSource="connectionStrings.config" />

	<system.serviceModel>

		<bindings>
			<netTcpBinding>
				<binding name="netTcp_NoSecurity" receiveTimeout="10675199.02:48:05.4775807">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>

			<!-- LOGIN SERVICE -->
			<service name="DamasChinas_Server.LoginService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.ILoginService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8000/LoginService/" />
						<add baseAddress="net.tcp://10.32.19.91:8733/LoginService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- SIGN IN -->
			<service name="DamasChinas_Server.SingInService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.ISingInService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8001/SignInService/" />
						<add baseAddress="net.tcp://10.32.19.91:8734/SignInService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- ACCOUNT MANAGER -->
			<service name="DamasChinas_Server.Services.AccountManager">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.IAccountManager" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8002/AccountManager/" />
						<add baseAddress="net.tcp://10.32.19.91:8790/AccountManager/" />
					</baseAddresses>
				</host>
			</service>

			<!-- CHAT -->
			<service name="DamasChinas_Server.ChatService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.IChatService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8003/ChatService/" />
						<add baseAddress="net.tcp://10.32.19.91:8755/ChatService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- FRIEND -->
			<service name="DamasChinas_Server.FriendService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.IFriendService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8004/FriendService/" />
						<add baseAddress="net.tcp://10.32.19.91:8740/FriendService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- LOBBY -->
			<service name="DamasChinas_Server.Services.LobbyService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.ILobbyService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8005/LobbyService/" />
						<add baseAddress="net.tcp://10.32.19.91:8751/LobbyService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- SESSION -->
			<service name="DamasChinas_Server.Services.SessionService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.ISessionService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8086/SessionService/" />
						<add baseAddress="net.tcp://10.32.19.91:8756/SessionService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- RANKING -->
			<service name="DamasChinas_Server.Services.RankingService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.IRankingService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8007/RankingService/" />
						<add baseAddress="net.tcp://10.32.19.91:8757/RankingService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- MATCH -->
			<service name="DamasChinas_Server.Services.MatchService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp_NoSecurity"
				  contract="DamasChinas_Server.Interfaces.IMatchService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://10.32.19.91:8008/MatchService/" />
						<add baseAddress="net.tcp://10.32.19.91:8758/MatchService/" />
					</baseAddresses>
				</host>
			</service>

		</services>
	</system.serviceModel>
</configuration>
